.navItemCollapse{
	display: none;
}

@media screen and (max-width: 766px){
	.navItemCollapse{
		background-color: #101820ff;
		z-index: 100;
		position:fixed;
		width: 100%;
		display: block;
	}
	.navItem {
		text-align: center;
		display:block;
		padding: 10px;
	}
}