
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,.primaryColor,.navItemCollapse,.customBottombar,.customMenubar,.customBgTitle
{
	background-color: #101820ff;
}
.menuBarSize{
	font-size: 15pt;
}
.navFontSize{
	font-size: 14pt;
}
.brandFontSize{
	font-size: 25pt;
}
.introFontSize{
	font-size: 30pt;
}
.formRegister{
	height: 520px;
}


.featureIcon{
	font-size: 40pt;
	height:100px;
	width:100px;
}

.iconFrame{
	height:100px;
	width:100px;	
}
.developerFrame{
	border:5px solid;
	/*border-width:5px;*/
	/*border-spacing: 5px;*/
	height:130px;
	width:130px;
}


